* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: cursive;
    
}

.container {
    margin: 70px 100px;
    background-color: #ddd9ce;
    border-radius: 1%;
    padding: 15px;
    font-size: 18px;
}

.container h1 {
    text-align: center; 
    padding-bottom: 20px; 
}  

p {
    margin-bottom: 20px;
}

.rede_local img {
    display: block;
    padding-bottom: 30px;    
}

.app_mobile img {
    margin-right: 30px;
}

@media(max-width: 1190px) {
    .app_mobile img {
        margin-bottom: 30px;
    }
}


