table {
    margin: 20px auto;    
    border-collapse: collapse;
    border: 3px solid rgb(0, 0, 0);
    width: 75%;
    
}

caption {
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: bolder;
}

thead {
    color: darkblue;   
    background-color: rgb(156, 78, 230);
}

thead th {
    border: 3px solid rgb(0, 0, 0);
    padding: 5px;
}

tbody {
    font-size: 90%;   
    letter-spacing: 1px;
    background-color: rgb(135, 222, 157);
}

tbody tr td {
    padding: 3px;
    text-align: left;
}

tr td {
    text-align: center;
    border: 3px solid rgb(0, 0, 0);
}

tbody tr a {
    color:black;
    text-decoration: none;
    text-align: center;        
    font-weight: bolder;
    font-size: 12px;
}

tr a:hover {
    text-decoration: underline;
}

tfoot {
    font-weight: bold;
    font-size: 75%;    
    background-color: bisque; 
}

tfoot tr td {
    padding: 3px;
    text-align: center;
}

p a {
    color:black;
    display: block;
    text-decoration: none;
    text-align: center;        
    font-weight: bolder;
    font-size: 20px;
}

p a:hover {
    text-decoration: underline;
}



@media(max-width: 800px) {

    td a {
     display: block;
    }
}

